.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    padding: 20px;
}

img {
    width: 65px;
    height: auto;
}

form {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 350px;
}

input {
    padding: 5px;
    margin: 4px;
    border: none;
}

table {
    padding: 5px;
}
